@model MvcSignalRChatWithWebAPI.Models.ManageUserViewModel

<p>
    이 사이트의 로컬 사용자 이름/암호가 없습니다. 외부 로그인
    없이 로그인할 수 있도록 로컬 계정을 추가하십시오.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <fieldset class="form-horizontal">
        <legend>로컬 로그인 만들기</legend>
         <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>      
        <div class="form-actions no-color">
            <input type="submit" value="암호 설정" class="btn" />
        </div>
    </fieldset>
}
